* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal-textos-destaque:#121212;
    --cor-secundaria-textos: #ffffff; 
    --fundo-alternativo: #fff3ef;
    --cor-botao: #b4aaa3;
    --fonte-padrao: /* incluir */;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 500px 1fr;
    margin: 0 auto;
    gap: 15px;
    max-width: 1140px;
    padding: 70px;
    background-color: var(--cor-principal-textos-destaque);
    grid-template-areas: 
    "hero hero"
    "text_button gallery";
}

.hero {
    grid-area: hero;
    width: 100%;
    object-fit: cover;
    height: 500px;
}

p {
    color: var(--cor-secundaria-textos);
}

button {
    background-color: var(--cor-botao);
    padding: 10px 40px;
    border-radius: 30px;
    font-family: ar;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 0;
}

.text_button {
    grid-area: text_button;
    margin: 10px;
}

.gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 180px);
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.section_2 {
    width: 100%;
}

.gallery_2 {
    max-width: ;
    margin: 0 auto;
    padding: 0 20px;
}
