* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal-textos-destaque:#121212;
    --cor-secundaria-textos: #ffffff; 
    --fundo-alternativo: #fff3ef;
    --cor-botao: #b4aaa3;
    --fonte-padrao: /* incluir */;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    margin: 0 auto;
    height: 900px;
    gap: 50px;
    max-width: 1140px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--cor-principal-textos-destaque);
    grid-template-areas: 
    "hero hero"
    "text_button gallery";
}

.hero {
    grid-area: hero;
    width: 100%;
    object-fit: cover;
    height: 500px;
}

p {
    color: var(--cor-secundaria-textos);
}

button {
    background-color: var(--cor-botao);
    padding: 10px;
    border: 10px;
    border-radius: 20px;
    color: white;
    font-family: ar;
    font-size: 15px;
    cursor: pointer;
}

.text_button {
    grid-area: text_button;
}

.gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}